.white {
  background: transparent !important;
}

.clickable {
	cursor: pointer;
}

.clickable > .widget:hover {
	background: rgba(39,62,84,0.35);
}

.busy-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/*bottom: 0;*/
	width: 100vw;
	height: 100vh;
	background-color: #000000;
	opacity: 0.6;
	z-index: 1001;
}

.loading {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1002;
}

.angular-google-map-container { height: 600px; }