<div class="row">
	<div class="col-lg-12">
		<h2>HackerCore.io</h2>
		<p>Hackathon data visualization, statistics, and more</p>
	</div>
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-code"></i>
				</div>
				<div class="title">{{ vm.numHackathons }}</div>
				<div class="comment">Hackathons</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-github"></i>
				</div>
				<div class="title">{{ vm.numProjects }}</div>
				<div class="comment">Projects</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<!-- <div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-calendar-minus-o"></i>
				</div>
				<div class="title">25</div>
				<div class="comment">Hackathons Left</div>
			</rd-widget-body>
		</rd-widget>
	</div> -->
	
</div>
<!-- 
<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-star" title="Most Popular Hackathons">
				<a href="#">Manage</a>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr><td>RDVMPC001</td><td>238.103.133.37</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDVMPC002</td><td>68.66.63.170</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDVMPC003</td><td>76.117.212.33</td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>RDPHPC001</td><td>91.88.224.5</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX001</td><td>197.188.15.93</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX002</td><td>168.85.154.251</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX003</td><td>209.25.191.61</td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>RDESX004</td><td>252.37.192.235</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDTerminal01</td><td>139.71.18.207</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDTerminal02</td><td>136.80.122.212</td><td><span tooltip="Could not connect!" class="text-warning"><i class="fa fa-flash"></i></span></td></tr>
							<tr><td>RDDomainCont01</td><td>196.80.245.33</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-git-square" title="Most Popular Projects">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">Rank</th><th>Project Name</th><th>Event</th><th>Likes</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1</td><td>Spitfire</td><td>HackTX15</td><td>81</td></tr>
							<tr><td class="text-center">2</td><td>IoFood</td><td>HackUTD16</td><td>72</td></tr>
							<tr><td class="text-center">3</td><td>Hack.Connect</td><td>HackDFW15</td><td>67</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>
 -->
